#showItemTrailer {
  width: 50%;
  height: 70vh;
  margin-top: 1%;
  margin: 0 auto;
}
#showItemTrailer iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  #showItemTrailer {
    width: 98vw;
    margin-left: 0;
  }
}
