.btnCurrentPage {
  margin-top: 2%;
  height: 27px;
}

.buttonCurrentPage {
  color: #000;
  font-size: 100%;
  width: 15%;
  text-decoration: none;
  cursor: pointer;
  height: 27px;
  background-color: white;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  border-top: none;
  border-left: none;
  border-right: none;
}

.buttonCurrentPage:hover {
  opacity: 0.5;
  border-bottom: 2px solid #fc5a5a;
}
.buttonCurrentPage:focus {
  border-bottom: 2px solid #fc5a5a;
}
