.btnCurrentPage {
  margin-top: 2%;
  height: 27px;
}

.buttonCurrentPage {
  color: white;
  background: #1D1D1D;

  font-size: 100%;
  width: 15%;
  text-decoration: none;
  cursor: pointer;
  height: 27px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  border-top: none;
  border-left: none;
  border-right: none;
}

.buttonCurrentPage:hover {
  opacity: 0.5;
  border-bottom: 2px solid #fc5a5a;
}
.buttonCurrentPage:focus {
  border-bottom: 2px solid #fc5a5a;
}
@media only screen and (max-width: 768px) {
  .btnCurrentPage {
 width: 100%;
    border-bottom: none;
    display: flex;
  }
  .buttonCurrentPage {
width: 100%;
color: #fc5a5a;

  }
}