.showItemOverview {
  width: 100%;
  padding-left: 10%;
  font-size: 120%;
  line-height: 1.4;
  text-align: left;
  overflow: hidden;
}
.showItemOverview span {
  font-size: 200%;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .showItemOverview {
    padding-left: 5%;
    width: 95%;

  }
  .showItemOverview span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
