.filter {
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-left: 6%;
  color: white;
  margin-top: 2%;
  width: 100%;
  /* height: 20px; */
}
.filterForm {
  display: flex;
 
  flex-wrap: wrap;
}
.filter select {
  background-color: #1D1D1D;
color: white;
}
.filter option {
  color: white;
}
@media only screen and (max-width: 768px) {
  .filterForm {
    display: flex;
    flex-direction: column;
   /* align-items: center;
    */
    margin-left: 0%;
width: 90%;
   /* align-self: center; */
  }
  .filterForm button {
    margin-top: 2%;
  }
  .filterForm span {
    padding-top: 1%;
  }
}