.imgPoster {
  display: block;
  width: 100%;
  height: 100%;
}

.moviesImage {
  /* width: 250px; */
  height: 410px;
 background-color: #e1dddd;
}
.moviesImage:hover {
  opacity: 0.5;
  cursor: pointer;
}
.smallSliderBox {
  /* display: flex; */

  margin-top: 1%;
  width: 82%;
  /* display: flex; */
  /* flex-direction: column;
      justify-content: center;
      margin: 0 auto; */
  /* margin-left: 1%; */
}
.smallSliderItems {
  /* padding-left:1.3%; */
}

.smallSliderBox ul > li > button::before {
  color: white;
}
.slider {
  /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start; */
}
.imageNotFound {
  padding-left: 15%;
  padding-top: 35%;
  width: 200px;
  height: 200px;
}
