.header {
  /* display: -webkit-flex;
  display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 0;
  width: 5%;
  height: 30%;
  /* background-color: #1D1D1D; */
  z-index: 1;
}
/* .header button {
  height: 30px;
  border: none;
  cursor: pointer;
} */
@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    top: auto;
    background-color: #3d3c3c;
    height: 8%;
    opacity: 0.9;
    align-items: center;
  }
}
