.header {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  z-index: 1;
}
.header button {
  height: 30px;
  border: none;
  cursor: pointer;
}

.header button:hover {
  background-color: #dcdcdc;
}
