.header {
  /* display: -webkit-flex;
  display: flex; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 3%;
  left: 0;
  width: 5%;
  height: 30%;
  /* background-color: #1D1D1D; */
  z-index: 1;
}
/* .header button {
  height: 30px;
  border: none;
  cursor: pointer;
} */

