.pagination {
  display: flex;

  justify-content: center;
}
.next {
  cursor: pointer;
}
.back {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .pagination {
    margin-bottom: 20%;
  }
}
