@media only screen and (max-width: 768px) {
  .showItemImage img {
    display: block;

    width: 100vw;
  }
}
@media only screen and (max-width: 800px) and (min-width: 761px) {
  .showItemImage img {
    display: none;
  }
}
