@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: Archivo, sans-serif;
}

.movies {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 2%;
}

.movies,
.movies-card {
  display: -webkit-flex;
  display: flex;
}

.movies-card {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin: 4px auto;
  border-bottom: 2px solid #f5f5f5;
  border-radius: 8px;
  background: #d9d9d9;
  font-family: "Open Sans";
  text-align: center;
  transition: 0.3s ease-in;
  font-family: Archivo, sans-serif;
}

.movies-card:hover {
  border-bottom: 2px solid #fc5a5a;
  opacity: 0.7;
}

.movies-info {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  height: 15%;
}

.movies-info h4 {
  margin: 5% 0 10px;
  color: #444;
  font-weight: 400;
}

.details {
  border: 2px solid grey;
  border-radius: 8px;
  background-color: transparent;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.details:hover {
  background-color: #d3d3d3;
}

.movies-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.movies-image {
  display: block;
  width: 100%;
  height: 75%;
}

.trailer-nothave {
  position: absolute;
  top: 120%;
  margin: 0 auto;
  width: 70%;
}

.header {
  display: -webkit-flex;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  z-index: 1;
}

.dropdown-movies {
  top: 0;
}

#search-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

/* .itemInfo {
  width: 70%;
  height: 1700px;
  margin: 0 auto;
  background-color: #fff;
} */

.header-button {
  color: #000;
  font-size: 120%;
  width: 100px;
  text-decoration: none;
  cursor: pointer;
}

.showItem-image img {
  width: 100%;
  height: 100%;
}

.showItem-overview {
  width: 250%;
  height: 50%;
  position: absolute;
  top: 0%;
  left: 120%;
  font-size: 120%;
  line-height: 1.4;
}
.showItem-info table {
  text-align: left;
  width: 100%;
}
.showItem-info table tbody th,
td {
  border-top: 1px solid #dee2e6;
}
.showItem-info table th{
  width: 35%;
}
.showItem-info p {
  font-size: 115%;
}

#search-header input {
  height: 27px;
  border: 0;
  outline: none;
  font-size: 120%;
}

#search-header button {
  height: 28px;
  border: none;
  outline: none;
  background: #e8e8e8;
  color: #8b8b8b;
  text-decoration: none;
}

#search-header button:hover {
  background-color: #dcdcdc;
}

.header button {
  height: 30px;
  border: none;
  cursor: pointer;
}

.header button:hover {
  background-color: #dcdcdc;
}

.dropdown-movies {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-movies:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  text-align: center;
  width: 100px;
}

.dropdown-button:hover {
  background-color: #dcdcdc;
}
#showItem-trailer {
  width: 100%;
  height: 93%;
}
#showItem-trailer iframe {
  width: 100%;
  height: 100%;
}

.slider-similar-items {
  width: 56.1%;
  height: 30%;
  top: 190%;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  left: 21%;
}
.similarItems {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}
.slider-similar-items .movies-card {
  min-width: 250px;
  padding: 1px;
}

.btn-slider-prev {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-slider-next,
.btn-slider-prev {
  border: 1px solid black;
  border-width: 0 0 2px 2px;
  width: 50px;
  height: 50px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
}

.btn-slider-next {
  right: 10%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.header-currentPage-back_drop_image {
  width: 100wh;
  height: 100vh;
  background-color: black;
}
.header-currentPage-back_drop_image img {
  height: 100vh;
  width: 100%;
  opacity: 0.6;
}
.header-currentPage {
  width: 20%;
  position: absolute;
  left: 20%;
  top: 15%;
  color: whitesmoke;
  height: 50%;
}
#text-similar-items {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.btn-currentPage button {
  color: #000;
  font-size: 140%;
  width: 25%;
  text-decoration: none;
  cursor: pointer;
  height: 27px;
  border: none;
  background-color: white;
  border-right: 2px solid #dee2e6;
}
.btn-currentPage button:last-child {
  border-right: 0;
}
.btn-currentPage {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
.btn-currentPage button:hover {
  background-color: #dcdcdc;
}
.container-Info-CurrentPage {
  width: 50%;
  height: 30em;
  background-color: white;
  position: relative;
  left: 24%;
}
.currentPage {
  background-color: white;
  line-height: 1.4;
}
