.movies {
margin-top: 1%;
  width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.titles {
  align-self: flex-start;
  margin-top: 5%;
  margin-left: 10%;
}
