.headerCurrentPageBackDropImage {
  height: 100vh;
  background-color: black;
}
.headerCurrentPageBackDropImage img {
  height: 100vh;
  width: 100%;
  opacity: 0.4;
}
@media only screen and (max-width: 768px) {
  .headerCurrentPageBackDropImage img  {
    display: none;
  }
  .headerCurrentPageBackDropImage {
background-color: #1D1D1D;
/* display: none; */
  }
}