.headerCurrentPageBackDropImage {
  height: 100vh;
  background-color: black;
}
.headerCurrentPageBackDropImage img {
  height: 100vh;
  width: 100%;
  opacity: 0.4;
}
@media only screen and (max-width: 760px) {
  .headerCurrentPageBackDropImage img {
    display: none;
  }
  .headerCurrentPageBackDropImage {
    background-color: #1d1d1d;
    display: none;
  }
}
