.movies {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
.nothingFoung {
  font-size: 200%;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .movies {
    justify-content: center;

    margin: none;
  }
}
