.infoActor {
  display: flex;
}
.actorPage {
  margin: 5% 10% 0% 10%;
}
.creditItems {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .infoActor {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }
}
