.imgPoster {
  display: block;
  width: 292px;
  height: 410px;
}

.moviesImage {
  width: 292px;
  height: 410px;
}
.moviesImage:hover {
  opacity: 0.5;
}
.imageNotFound {
  padding-left: 5%;
  padding-top: 35%;

  width: 200px;
  height: 200px;
}
