#textSimilarItems {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.sliderSimilarItems {
  padding: 1%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
.similarMovie {
  margin-bottom: 2%;
}
