.headerCurrentPage {
  width: 75%;
  position: absolute;
  display: flex;
  left: 20%;
  float: left;
  top: 10%;
  color: whitesmoke;
  height: 80%;
}
@media only screen and (max-width: 768px) {
  .headerCurrentPage {
    left: 0;
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}
