.listItems {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  color: white;
}
@media only screen and (max-width: 768px) {
  .listItems {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }
}
