.listItems {
  /* display: -webkit-flex; */

  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
.moviesPage {
  /* display: flex; */
  /* margin-top: 2%; */
}
p {
  color: white;
}