.boxSlider {
  width: 80%;
}
.bigSliderItems {
  cursor: pointer;
}
.boxSlider ul > li > button::before {
  color: white;
}

.bigImg {
  background-color: black;
}
.bigImg img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.smallImg img {
  height: 400px;
}
.bigSliderOverview {
  width: 50%;
  padding-left: 4%;
  font-size: 1em;

}
.bigSliderOverview span {
  font-size: 200%;
}
.bigSliderInfo {
  width: 2%;
  top: 5%;
  position: absolute;
  display: flex;
  padding-left: 0.5%;
}
@media only screen and (max-width: 445px) {
  .boxSlider {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .bigSliderInfo {
    width: 5%;
    font-size: 0.7rem;
    padding-left: 1%;
  }
  .smallImg img {
    height: 250px;
  }
  .bigSliderOverview {
    width: 40%;
    padding-left: 4%;
    font-size: 0.7em;
  }
}
