.boxSlider {
  width: 80%;
  /* display: flex; */
  /* flex-direction: column;
    justify-content: center;
    margin: 0 auto; */
    height: 95vh;

  
}
.bigSliderItems {
  /* margin-left: 6%; */
  /* display: flex; */
  /* padding-left: 2%; */
  /* width: 90%; */
  cursor: pointer;
}
.boxSlider ul > li > button::before {
  color: white;
}

.bigImg {
  /* z-index: 99; */
  background-color: black;
}
.bigImg img {
  height: 100%;
  width: 100%;
  opacity: 0.3;
}
.smallImg {
  /* left: 20px; */
  /* padding-left: 5%; */
  /* top: 5%; */
/* padding-left: 2%; */
}
.smallImg img {
  /* width: auto; */
  height: 400px;
}
.bigSliderOverview {
 width: 40%;
 padding-left:4%;
 /* height: 20%; */
}
.bigSliderOverview p {
  /* width: 20%; */
}
.bigSliderOverview span {
  /* display: flex; */
  font-size: 200%;
/* width: 30%; */
}
.bigSliderInfo {
 /* margin: 0 auto; */
  width: 2%;
  top: 5%;
  position: absolute;
  display: flex;
  padding-left: 0.5%;
}
